.button-call{
    width: 400px;
    margin: 20px;
    padding: 10px 10px;
    border-radius: 15px;
    text-transform: uppercase;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 2.5rem;
    font-family: monospace;
    color: white;
    background-color: red;
    border: 4px solid red;
    transition: linear .2s all;
}
.button-call:hover{
    color: red;
    background-color: white;
}
.button-call svg{
    margin-left: 10px;
}